/* html {
    background-color:rgba(148, 206, 138, 0.294);
    font-family: Arial, Helvetica, sans-serif;

    line-height: 1.6em;
}

button {
    background-color: rgba(148, 206, 138, 0.6);
} */

.container {
    margin-top: 20px;
}

button {
    margin: auto;
}